 <div data-ng-controller="FeedController" data-ng-init="getStories()">
    <h2>Your Fan Feed</h2>
    <ul class="unstyled">
        <li data-ng-repeat="story in stories">
        	{{story.ID}}
        	<!-- <img src="{{story.imageURL}}" height="40" width="40">
        	{{story.imageURL}} -->
            <!-- <a href="#/leagues/{{ league.$id }}">{{league.name}}</a> -->
<!--             (<a href="#/leagues/{{ league.$id }}/edit">Edit</a>)
            (<a href="" data-ng-click="removeLeague('{{ league.$id }}')" >Remove</a>) -->
        </li>
    </ul>
    
</div>