<div data-ng-controller="LeaguesController" data-ng-init="findOneLeague()">
    <form class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="name">Name</label>
            <div class="controls">
                <input type="text" data-ng-model="league.name" id="name" placeholder="Name">
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button data-ng-click="createLeague()" data-ng-show="!leagueId">Create League</button>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <a href="#/leagues">View all leagues</a>
            </div>
        </div>
    </form>
</div>