.navbar .nav> .li > a.brand
	padding-left 20px
	margin-left 0

.navbar-nav > li
	float none
	display inline-block
	text-align center

.navbar-collapse
	text-align center

.navbar
	background-color transparent

.navbar-default
	border-color transparent

.navbar > .container-fluid > .navbar-header > a.navbar-brand 
	color #D32B2A

.navbar > .container-fluid > .collapse > ul.nav > li > a
	color #D32B2A

.content
	margin-top 50px
	width 100%

footer
	position fixed
	left 0px
	bottom 0px
	height 30px
	width 100%
	background #ddd
	-webkit-box-shadow 0 8px 6px 6px black
	-moz-box-shadow 0 8px 6px 6px black
	box-shadow 0 8px 6px 6px black

footer p
	padding 5px 0 12px 10px

.navlist li
	display inline
	list-style-type none

body
	font-family	'Open Sans', sans-serif
	font-weight 300
	background-color #000000

.fades.ng-enter
	-webkit-transition all .6s ease
	-moz-transition all .6s ease
	-o-transition all .6s ease
	transition all .6s ease

.fades.ng-enter
	opacity 0

.fades.ng-enter-active
	opacity 1

.btn-primary
	background-color transparent
	border transparent
	color #320A0A

.container-fluid > .row > button.btn
	font-family	'Open Sans', sans-serif
	font-weight 300

.img-rounded
	border-radius 5px

.imageView
	//box-shadow 1px 1px 8px gray