body {
  /*background: url(../img/bg.jpg) no-repeat center center fixed; */
/*  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.table {
  text-align: center;
  font-size: 16px;
}

th {
  text-align: center;
  font-size: 16px;
}

.fades.ng-enter {
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.fades.ng-enter,.fades.ng-move {
  opacity: 0;
}

.fades.ng-enter.ng-enter-active,
.fades.ng-enter.ng-move-active {
  opacity: 1;
}

/*.fades.ng-leave {
  -webkit-animation:0.6s ease;
  -moz-animation:0.6s ease;
  -o-animation:0.6s ease;
  animation:0.6s ease;
}*/

.td {
  padding: 15px;
  vertical-align:"middle";
  text-align:"center";
}

.footer {
  color: rgba(255, 255, 255, 1);
}

.footer:hover,.footer:focus {
  color: rgba(50, 50, 50, 1);
}

.background-image-default {

  filter: blur(5px) grayscale(100%);
  -webkit-filter: blur(5px) grayscale(100%);
  -moz-filter: blur(5px) grayscale(100%);
  -o-filter: blur(5px) grayscale(100%);
  -ms-filter: blur(5px) grayscale(100%);
  filter: url('/css/desaturate.svg#greyscale'); 
}

.my-background {
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  display: block;
  height: 100vh;
  width:auto;
  /*transition: background-image .3s ease;*/
  /*-webkit-background-size: cover;  -moz-background-size: cover;  -o-background-size: cover; background-size: cover;*/
}

.background-image-restaurant {



  filter: blur(5px) sepia(100%) grayscale(75%);
  -webkit-filter: blur(5px) sepia(100%) grayscale(75%);
  -moz-filter: blur(5px) sepia(100%) grayscale(75%);
  -o-filter: blur(5px) sepia(100%) grayscale(75%);
  -ms-filter: blur(5px) sepia(100%) grayscale(75%);
  filter: url('/css/blur.svg#blur'); 

}

.sepia {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: url('/css/desaturate.svg#greyscale'); 
}

.yelp {
  height:3vh;
  width:auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.content {
  z-index: 0;
}


h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 400;
}

p {
  font-size: 1.25em;
  line-height: 1.6;
  color: #000;
}

hr {
  border-color: #999999;
  max-width: 400px;
}

.brand,
.address-bar {
  display: none;
}

.brand-restaurant {
  font-family: 'Italianno', cursive;
  font-weight: 500;
  font-size: 7em;
  margin: 0;
  text-shadow: 4px 1px 1px rgba(0, 0, 0, 0.6);
}

.brand-default {
  font-family: 'Josefin Sans', sans-serif;
  text-transform: lowercase;
  font-weight: 300;
  font-size: 10em;
}

.navbar-brand {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 900;
}


.navbar-nav {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 400;
}

.img-full {
  max-height: 65vh;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*
.img-half {
  min-width: 100%;
  min-height: 50%;
  max-width: 100%;
  max-height: 50%;
  min-height: 33.5vh;
  width: 100%;
}*/

.fb-warning {
  font-size:0.9em;
}

.brand-name {
  font-weight: 700;
  font-size: 1.5em;
  text-transform: capitalize;
  letter-spacing: normal;
}

.tagline-divider {
  margin: 15px auto 3px;
  border-color: #999999;
  max-width: 250px;
}

.gift-box {
  background-color: rgba(50, 10, 10, 0.67);
  color: white;
  margin-bottom: 20px;
  padding: 30px 15px;
  box-shadow: 5px 5px 3px #888888;
}

.gift-image {
  max-height: 15vh;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.gift-text {
  color: white;
}

.dark-box {
  background: #fff;
  background: rgba(125,125,125,0.2);
  margin-bottom: 20px;
  padding: 30px 15px;
}

.box {
  background: #fff;
  background: rgba(255,255,255,0.8);
  margin-bottom: 20px;
  padding: 30px 15px;
}

.intro-text {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.25em;
  font-weight: 400;
}

.img-border {
  float: none;
  margin: 0 auto 0;
  border: #999999 solid 1px;
}

.img-left {
  float: none;
  margin: 0 auto 0;
}

footer {
  background: #fff;
  background: rgba(255,255,255,0.9);
}

footer p {
  margin: 0;
  padding: 50px 0;
}

.btn-promotion {

  background-color: rgba(50, 10, 10, 0.67);
  border-color: transparent;
  color: white;
  -webkit-transition: background-color .5s ease-out;
  -moz-transition: background-color .5s ease-out;
  -o-transition: background-color .5s ease-out;
  transition: background-color .5s ease-out;
  margin-bottom:4px;
  white-space: normal;
}


.btn-promotion:hover {
  background-color: rgba(0, 0, 0, 0.67);
  border-color: transparent;
  color: white;
}

.btn {
  padding: 15px 15px;
  border-radius: 0px;
  font-size:17px;
  background-color: rgba(50, 10, 10, 0.67);
  border-color: transparent;
  text-transform:uppercase;
  letter-spacing: 3px;
  font-weight: 400;
  color: #fff;
  font-size: 1.4em;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

@media screen and (min-width: 768px) {

.img-full {
  max-height:100%;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.brand {
  display: inherit;
  line-height: normal;
  text-align: center;
  margin: 0;
  padding: 30px 0 10px;
  color: #fff;
}

.top-divider {
  margin-top: 0;
}

.img-left {
  float: left;
  margin-right: 25px;
}

.address-bar {
  display: inherit;
  text-align: center;
  margin: 0;
  padding: 0 0 40px;
  font-size: 1.25em;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 400;
  color: #fff;
  text-shadow: 3px 1px 2px rgba(0, 0, 0, 0.7);
}

.navbar {
  border-radius: 0;
}

.navbar-header {
  display: none;
}

.navbar {
  min-height: 0;
}

.navbar-default {
  background: #fff;
  background: rgba(255,255,255,0.8);
  border: none;
}

.nav>li>a {
  padding: 35px;
}

.navbar-nav>li>a {
  line-height: normal;
}

.navbar-nav {
  float: none;
  margin: 0 auto;
  display: table;
  table-layout: fixed;
  font-size: 1.3em;
}

a.custom-nav {
  color: rgba(0, 0, 0, 0.67);
  font-weight: 400;
/*  -webkit-transition: color .3s ease-out, font-weight 0.7s ease-out;
  -moz-transition: color .3s ease-out, font-weight 0.7s ease-out;
  -o-transition: color .3s ease-out, font-weight 0.7s ease-out;
  transition: color .3s ease-out, font-weight 0.7s ease-out;*/
} 

a.custom-nav:hover {
  color: rgba(10, 50, 50, 0.67);
  font-weight: 700;
} 

}
