div(data-ng-controller="DefaultController")
	div.box.text-center
		div.row.fades
			p
				h3 
					b
						| Contact Taste:
				br
				| via email:
				h4 support@getTaste.co
				br
				| via phone: 
				h4 (609) 851-0053
