<!DOCTYPE html>
<html lang="en" ng-app="fantasyApp" ng-controller="MainCtrl">
  <head>
    <meta charset="utf-8">
    <meta name="fragment" content="!">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Piyush Poddar">
    <title>Taste - {{placeService.getMeta().title}}</title>
    <meta property="fb:app_id" content="193198737555570">
    <meta property="og:type" content="tasteapplication:eatery">
    <meta property="og:url" content="http://desolate-plateau-4658.herokuapp.com/#!/places/{{placeService.getMeta().snap_id}}">
    <meta property="og:title" content="{{placeService.getMeta().title}}">
    <meta property="og:image" content="{{placeService.getMeta().picture_URL}}">
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/business-casual.css" rel="stylesheet">
  </head>
  <body ng-controller="HeaderController">
    <div style="background:url({{placeService.getMeta().store_pic_url}})" class="background-image"></div>
    <div class="content">
      <div class="brand">{{placeService.getMeta().title}}</div>
      <div class="address-bar">The Plaza | 5483 Start Bootstrap Ave. | Beverly Hills, California 26892 | 555.519.2013</div>
      <nav role="navigation" class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <button type="button" data-toggle="collapse" data-target=".navbar-ex1-collapse" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="/index.html" class="navbar-brand">{{placeService.getMeta().title}}</a>
          </div>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav">
            <li data-ng-repeat="entry in navbarEntries" ng-if="auth"><a href="#!{{entry.link}}">{{entry.title.toUpperCase()}}</a></li>
            <li ng-if="!!auth" ng-click="login()">LOG IN</li>
            <li ng-if="!!!auth" ng-click="logout()">LOG OUT</li>
          </ul>
        </div>
      </nav>
      <div class="container">
        <div ng-view></div>
      </div>
    </div>
    <script src="http://static.firebase.com/v0/firebase.js"></script>
    <script src="https://cdn.firebase.com/v0/firebase-simple-login.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular-animate.js"></script>
    <script src="/js/jquery-1.10.2.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="lib/angular-route/angular-route.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular-resource.js"></script>
    <script src="lib/angular-fire/angularFire.js"></script>
    <script src="js/app.js"></script>
    <script src="js/config.js"></script>
    <script src="js/controllers/headercontroller.js"></script>
    <script src="js/controllers/signincontroller.js"></script>
    <script src="js/controllers/feedcontroller.js"></script>
    <script src="js/controllers/snapcontroller.js"></script>
    <script src="js/controllers/fancontroller.js"></script>
    <script src="js/controllers/userTestController.js"></script>
    <script src="js/controllers/placecontroller.js"></script>
    <script src="js/controllers/maincontroller.js"></script>
    <script src="js/controllers/urlcontroller.js"></script>
    <script src="js/services/loginservice.js"></script>
    <script src="js/services/firerefservice.js"></script>
    <script src="js/services/feedservice.js"></script>
    <script src="js/services/snapservice.js"></script>
    <script src="js/services/fanservice.js"></script>
    <script src="js/services/userTestService.js"></script>
    <script src="js/services/placeservice.js"></script>
    <script>$('.carousel').carousel({interval:5000})</script>
  </body>
</html>