div(data-ng-controller="GiftController")
	div(ng-repeat="gift in gifts")
		div.gift-box
			div.row
				div.col-xs-12.col-lg-12.text-center
					h2 {{gift.store_name}}
					h1 {{gift.display_text}}
					p
						Valid from {{new Date(gift.start_date).getMonth()}}/{{new Date(gift.start_date).getDate()}}{{new Date(gift.start_date).getYear()}}  to {{new Date(gift.end_date).getMonth()}}/{{new Date(gift.end_date).getDate()}}{{new Date(gift.end_date).getYear()}}
					a(href="")
						img.img-responsive.gift-image(ng-click="redeemPromotion($index)" ng-src="./img/redeem_button.png")


