div(data-ng-controller="GiftController")
	div.box.text-center
		h1 My Gifts 
		div(ng-repeat="gift in gifts")
			div.gift-box
				div.row
					div.col-xs-8.col-lg-8.col-xs-offset-2.col-lg-offset-2.text-center
						div.row
							div.col-xs-12.col-lg-12.text-center
								h2 {{gift.store_name}}
								h1 {{gift.display_text}}
								p.gift-text
									Valid from {{convertDate(gift.start_date)}} to {{convertDate(gift.end_date)}}
									//- /{{(new Date(gift.start_date)).getDate()}}/{{(new Date(gift.start_date)).getYear()}}  to {{(new Date(gift.end_date)).getMonth()}}/{{(new Date(gift.end_date)).getDate()}}/{{(new Date(gift.end_date)).getYear()}}
						div.row
							div.col-xs-2.col-xs-offset-5
								a(href="")
									img.img-responsive.gift-image(ng-click="redeemPromotion($index)" ng-src="./img/redeem_button.png")


