<div data-ng-controller="FansController" data-ng-init="findUsers()">
    <ul class="navlist">
        <li><input type="text" data-ng-model="search.name" placeholder="Name"></li>
    </ul>
    <table>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th></th>
        </tr>
        <tr data-ng-repeat="user in users | filter:search">
            <td>{{ user.name }} <button type="submit" class="btn btn-primary" ng-click="addAsFriend(user)">Be a Fan</button> </td>
            <td>{{ user.email }}</td>
        </tr>
    </table>
</div>