nav.navbar(class="navbar-default ng-scope" role="navigation" ng-controller="HeaderController")
  div.container-fluid
    div.navbar-header
      button.navbar-toggle(id = "headerButton" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1")
        span.sr-only Toggle Navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href="#/feed") Paparazi.co

    div.collapse(class="navbar-collapse" id="bs-example-navbar-collapse-1" data-toggle="collapse" )
      ul.nav(class="navbar-nav" ng-if="auth")
        li(data-ng-repeat="entry in navbarEntries" data-ng-class="{active: entry.isActive}")
          a(href="#{{entry.link}}") {{entry.title}}
      form.navbar-form(class="navbar-left" role="search" ng-if="auth" )
        input.form-control(class="text" placeholder="Find")
        button.btn(class="btn-default" type="submit") Submit
      ul.nav(class="navbar-nav navbar-right" ng-if="auth")
        li
          a(href="" ng-click="logout()") Sign Out
      ul.nav(class="navbar-nav navbar-right" ng-if="!auth")
        li
          a(href="" ng-click="login()") Sign In




