div(data-ng-controller="DefaultController")
	div.box.text-center
		div.row.fades
			a(href='https://play.google.com/store/apps/details?id=com.pod.taste&ah=3m5KCLR5t3wwfmz7Iye4wPgKuIg')
				button.btn.btn-promotion Get the Android App!				
		