<!doctype html>
<html lang="en">
	<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# tasteapplication: http://ogp.me/ns/fb/tasteapplication#">
	  <meta property="fb:app_id"                content="193198737555570" /> 
	  <meta property="og:type"                  content="tasteapplication:eatery" /> 
	  <meta property="og:url"                   content="http://desolate-plateau-4658.herokuapp.com/East Asian Fusion" /> 
	  <meta property="og:title"                 content="East Asian Fusion" /> 
	  <meta property="og:image"                 content="http://www.xiaowaifood.com/UploadFiles/23660/SlideShow/20130503221614.jpg" /> 
	  <meta property="place:location:latitude"  content="40.313043" /> 
	  <meta property="place:location:longitude" content="-74.515447" /> 
	</head>
	<body>
		<header>Welcome to East Asian Fusion!</header>
	</body>
</html>