<!doctype html>
<html lang="en">
	<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# tasteapplication: http://ogp.me/ns/fb/tasteapplication#">
	  <meta property="fb:app_id"                content="193198737555570" /> 
	  <meta property="og:type"                  content="tasteapplication:eatery" /> 
	  <meta property="og:url"                   content="Put your own URL to the object here" /> 
	  <meta property="og:title"                 content="Sample Eatery" /> 
	  <meta property="og:image"                 content="https://fbstatic-a.akamaihd.net/images/devsite/attachment_blank.png" /> 
	  <meta property="place:location:latitude"  content="Sample Location: Latitude" /> 
	  <meta property="place:location:longitude" content="Sample Location: Longitude" /> 
	</head>
	<body>
		<header>Welcome to Molto Bene!</header>
	</body>
</html>