
<div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h1 class="text-center">{{childMeta.title}}</h1>
      </div>
      <div class="col-xs-12"><img ng-src="{{childMeta.picture_URL}}" class="center-block img-responsive"/></div>
      <div class="col-xs-4 col-xs-offset-4">
        <hr class="intro-divider"/>
      </div>
      <div class="col-xs-12 text-center">
        <button type="button" class="btn btn-primary">Get your Gift Certificate!</button>
      </div>
    </div>
  </div>
</div>