div
	div.container-fluid
		div.row
			div.col-xs-12(class = "text-center")
				h1(class = "text-center") {{childMeta.title}}
			div.col-xs-12(class = "text-center")
				h3 on Taste
			div.col-xs-4(class = "col-xs-offset-4")
				hr.intro-divider
			div.col-xs-12
				img(class = "center-block img-responsive" ng-src = "{{childMeta.picture_URL}}")
			div.col-xs-12(class="text-center")
				button.btn(class="btn-primary" type="button") Get your Gift Certificate!
