
<div class="box">
  <div class="row">
    <div class="col-xs-12 col-lg-12">
      <div id="images" class="row">
        <div class="col-lg-6 col-xs-12"><img ng-src="{{childMeta.picture_URL}}" alt="" class="img-responsive img-full"/><br/></div>
        <div class="col-lg-6 col-xs-12">
          <div class="row">
            <div class="col-xs-12 col-lg-12">
              <div class="dark-box">
                <table>
                  <div class="row">
                    <div class="col-xs-12 col-lg-12">
                      <tr>
                        <td colspan="2" class="text-center"><a ng-if="auth===childMeta.referring_user_id" class="fades">
                            <button style="margin-bottom:4px;white-space: normal;" type="button" class="btn btn-promotion">Share this page to share your gifts! <br> <span class="glyphicon glyphicon-gift"></span></button></a><a ng-if="!(!auth || auth===childMeta.referring_user_id || timeRemaining &lt; 0)" class="fades">
                            <button style="margin-bottom:4px;white-space: normal;" ng-click="addPromotion()" type="button" class="btn btn-promotion">claim {{childMeta.user_first_name.toLowerCase()}}'s gift to {{childMeta.title}} within the next {{timeRemainingText}}! <br> <span class="glyphicon glyphicon-gift"></span></button></a><a href="" ng-if="!(auth || timeRemaining &lt; 0)" class="fades">
                            <button ng-click="login()" style="margin-bottom:4px;white-space: normal;" type="button" class="btn btn-promotion">sign in to claim {{childMeta.user_first_name.toLowerCase()}}'s gift to {{childMeta.title}} within the next {{timeRemainingText}}! <br> <span class="glyphicon glyphicon-gift"></span></button></a><a href="" ng-if="!(timeRemaining &gt; 0 || auth===childMeta.referring_user_id)" class="fades">
                            <button style="margin-bottom:4px;white-space: normal;" type="button" class="btn btn-promotion">{{childMeta.user_first_name.toLowerCase()}} ran out of gifts!</button></a></td>
                      </tr>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12 col-lg-12">
                      <tr>
                        <td colspan="2">
                          <hr class="tagline-divider"/>
                        </td>
                      </tr>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12 col-lg-12">
                      <tr>
                        <td>
                          <p class="text-center"><em>"{{childMeta.store_description}}"</em></p>
                        </td>
                      </tr>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12 col-lg-12">
                      <tr>
                        <td colspan="2" class="text-center"><a href="{{childMeta.store_yelp_url}}" target="_blank"><img src="/img/yelp-icon.png" height="40" width="40" class="img-circle yelp"/></a></td>
                      </tr>
                    </div>
                  </div>
                </table>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-lg-12">
              <div class="dark-box">
                <iframe frameborder="0" height="201" width="201" style="border:0; width:100%" ng-src="{{childMeta.store_location_url}}" class="sepia"></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-12">
      <hr class="tagline-divider"/>
      <h2 class="text-center"><small>brought to you by <br/><strong>Taste								</strong></small></h2>
    </div>
  </div>
</div>